@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div style="text-align: center; margin-top: 10px">
            <img src="/images/title.png" />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
